.content {
  font-size: 16px;
  line-height: 1.8;
}
.content h1,
.content h2,
.content h3 {
  font-weight: normal;
  position: relative;
}
.normal .content h1,
.normal .content h2,
.normal .content h3 {
  color: rgba(255, 255, 255, 0.7);
}
.normal .content a:not(.heading-anchor) {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
.normal .content a:not(.heading-anchor):hover {
  color: white;
  border-bottom: 1px solid currentColor;
}
.normal .content .heading-anchor {
  color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}
@media (min-width: 675px) {
  .content .heading-anchor {
    position: absolute;
    right: 100%;
    margin-right: 10px;
  }
}
.normal .content .heading-anchor:hover {
  color: rgba(255, 255, 255, 0.6);
}
.content pre,
.content code {
  font-family: ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas',
    'Liberation Mono', monospace;
}
.content code {
  padding: 3px 5px;
  line-height: 1;
  border-radius: 5px;
}
.normal .content code {
  background-color: rgba(0, 0, 0, 0.3);
}
.accessible .content code {
  border: 1px solid currentColor;
}
.content pre {
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  white-space: pre-wrap;
  word-break: break-word;
}
.normal .content pre {
  background-color: rgba(0, 0, 0, 0.4);
}
.accessible .content pre {
  border: 1px solid currentColor;
}
.content pre code {
  padding: 0;
}
.normal .content pre code {
  background: none;
}
.accessible .content pre code {
  border: none;
}
.accessible .content pre span {
  color: inherit !important;
}
.content table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  table-layout: fixed;
}
.content th {
  font-weight: bold;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.05);
}
.content td,
.content th {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.accessible .content td,
.accessible .content th {
  border-color: currentColor;
}
.content blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 5px 15px;
}
.normal .content blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
}
.accessible .content blockquote {
  border-left: 5px solid currentColor;
}
.normal .content hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 90vh;
  border-radius: 15px;
}
.content iframe {
  border: 0;
  width: 100%;
  border-radius: 15px;
}
.normal .content ul,
.normal .content ol {
  list-style: none;
  padding-left: 30px;
}
.normal .content li {
  position: relative;
}
.normal .content li::before {
  color: rgba(255, 255, 255, 0.4);
  padding-right: 10px;
  position: absolute;
  right: 100%;
}
.normal .content ul > li::before {
  content: '-';
}
.normal .content ol {
  counter-reset: item;
}
.normal .content ol > li::before {
  content: counter(item);
  counter-increment: item;
}
.normal .content strong {
  color: rgba(255, 255, 255, 0.7);
}
.normal .content s {
  color: rgba(255, 255, 255, 0.4);
}
