.content {
  font-size: 16px;
  line-height: 1.8;
}
.content h1, .content h2, .content h3 {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.content a:not(.markdownIt-Anchor) {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
.content a:not(.markdownIt-Anchor):hover {
  color: white;
  border-bottom: 1px solid currentColor;
}
.content .markdownIt-Anchor {
  color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}
@media (min-width: 675px) {
  .content .markdownIt-Anchor {
    position: absolute;
    right: 100%;
    margin-right: 10px;
  }
}
.content .markdownIt-Anchor:hover {
  color: rgba(255, 255, 255, 0.6);
}
.content code {
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Inconsolata', monospace;
  padding: 3px 5px;
  line-height: 1;
  border-radius: 5px;
}
.content pre {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  white-space: pre-wrap;
  word-break: break-word;
}
.content pre code {
  background: none;
  padding: 0;
}
.content table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  table-layout: fixed;
}
.content th {
  font-weight: bold;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.05);
}
.content td, .content th {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.content blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.3);
  margin-left: 0;
  margin-right: 0;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.05);
}
.content hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 90vh;
  border-radius: 15px;
}
.content ul, .content ol {
  list-style: none;
  padding-left: 30px;
}
.content li {
  position: relative;
}
.content li::before, .content li::before {
  color: rgba(255, 255, 255, 0.4);
  padding-right: 10px;
  position: absolute;
  right: 100%;
}
.content ul > li::before {
  content: '-';
}
.content ol {
  counter-reset: item;
}
.content ol > li::before {
  content: counter(item);
  counter-increment: item;
}
.content strong {
  color: rgba(255, 255, 255, 0.7);
}
.content s {
  color: rgba(255, 255, 255, 0.4);
}
