.post-list {
  margin-top: 20px;
}
.post-entry {
  padding: 20px;
  margin: 15px 0;
  border-radius: 20px;
}
.normal .post-entry {
  background-color: rgba(0, 0, 0, 0.3);
}
.accessible .post-entry {
  border: 1px solid currentColor;
}
.normal .post-entry .date {
  color: rgba(255, 255, 255, 0.4);
  padding-bottom: 5px;
}
.normal .post-entry .title a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.normal .post-entry .title:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}
.post-entry .desc {
  margin: 0;
  margin-top: 10px;
}
.draft {
  opacity: 0.5;
}

.welcome {
  margin: 0;
}
.normal .welcome {
  color: rgba(255, 255, 255, 0.4);
}
