<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{ metadata }}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ root }}/css/main.css">
    <link rel="stylesheet" href="{{ root }}/css/styles.css">
  </head>
  <body>
    {{ links }}
    <div class="background"></div>
    <span class="date">Welcome to</span>
    <h1 class="title">my longer tweets</h1>
    <div class="post-list">
      {{ posts }}
    </div>
    {{ links }}
  </body>
</html>
