<!-- MADE BY SEAN -->

<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="{{ description }}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{ title }}"/>
<meta name="twitter:description" content="{{ description }}"/>

<link rel="stylesheet" type="text/css" href="/sheep2.css">
<script src="/sheep2.js" charset="utf-8"></script>
