<!DOCTYPE html>
<html lang="en" dir="ltr" class="normal">
  <head>
    {%- include metadata.html -%}

    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}" />
    <script
      defer
      src="{{ '/js/accessible.js' | relative_url }}"
      charset="utf-8"
    ></script>
    {%- if layout.main -%}
    <meta property="og:image" content="https://sheeptester.github.io/img/longtweets-smaller.png" />
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
    <script src="{{ '/js/main.js' | relative_url }}" charset="utf-8"></script>
    <style id="post-filterer"></style>
    {%- else -%}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css"
      integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js"
      integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js"
      integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body, { delimiters: [{ left: '$', right: '$', display: false }, { left: '\\[', right: '\\]', display: true }] })"
    ></script>
    <link
      rel="stylesheet"
      href="{{ '/css/tomorrow-night.css' | relative_url }}"
    />
    <link rel="stylesheet" href="{{ '/css/content.css' | relative_url }}" />
    <script
      defer
      src="{{ '/js/post.js' | relative_url }}"
      charset="utf-8"
    ></script>
    {%- endif -%}
  </head>
  <body>
    <button class="toggle-accessible" id="toggle-accessible">
      Enable accessible theme
    </button>
    {%- include links.html -%}
    <div class="background"></div>
    {{ content }} {%- include links.html -%}
  </body>
</html>
