<!doctype html>
<html lang="en-US" dir="ltr" class="normal">
  <head>
    {%- include metadata.html -%}

    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}" />
    <script
      defer
      src="{{ '/js/accessible.js' | relative_url }}"
      charset="utf-8"
    ></script>
    {%- if layout.main -%}
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
    <script src="{{ '/js/main.js' | relative_url }}" charset="utf-8"></script>
    <style id="post-filterer"></style>
    {%- else -%} {%- if page.math -%}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.css"
      integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/katex.min.js"
      integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/contrib/auto-render.min.js"
      integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI"
      crossorigin="anonymous"
      onload="
        renderMathInElement(document.body, {
          delimiters: [
            { left: '$', right: '$', display: false },
            { left: '\\[', right: '\\]', display: true }
          ]
        })
      "
    ></script>
    {%- endif -%}
    <link
      rel="stylesheet"
      href="{{ '/css/tomorrow-night.css' | relative_url }}"
    />
    <link rel="stylesheet" href="{{ '/css/content.css' | relative_url }}" />
    <script
      defer
      src="{{ '/js/post.js' | relative_url }}"
      charset="utf-8"
    ></script>
    {%- endif -%}
  </head>
  <body>
    <img
      aria-hidden="true"
      src="{{ '/images/blur.png' | relative_url }}"
      id="background"
    />
    <button class="toggle-accessible" id="toggle-accessible">
      <span class="toggle-accessible-badge">Enable accessible theme</span>
    </button>
    <header class="links">
      <a href="{{ '/' | relative_url }}">home</a> &middot;
      <a href="{{ '/' | relative_url }}">main</a> &middot;
      <a href="{{ '/' | relative_url }}">index</a>
    </header>
    <main>{{- content -}}</main>
    <footer class="links">
      {%- if layout.main -%}
      <a href="/">root</a>
      {%- else -%}
      <a href="{{ '/' | relative_url }}">back</a>
      {%- endif %} &middot; {% if layout.main -%}
      <a href="https://github.com/SheepTester/longer-tweets/">repo</a>
      {%- else -%}
      <a
        href="https://github.com/SheepTester/longer-tweets/blob/master/{{ page.path }}?plain=1"
        >source</a
      >
      {%- endif %} &middot;
      <a href="{{ '/feed.xml' | relative_url }}">feed</a>
    </footer>
    <script>
      const background = document.getElementById('background')
      if (!background.complete) {
        background.classList.add('loading')
        background.addEventListener('load', () => {
          background.classList.remove('loading')
        })
      }
    </script>
  </body>
</html>
