---
layout: default
---

<span class="date">{{ page.date | date: '%F, a %A' }}</span>
<h1 class="title">{{ page.title }}</h1>
<div class="tags">
  {%- for tag in page.tags -%} {%- include tag.html -%} {%- endfor -%}
</div>
<div class="content">{{ content }}</div>
<span class="date"
  >See source and revision history on {% comment %} #github ID is used by
  sheep.js to get the source URL {% endcomment %}
  <a
    id="github"
    href="https://github.com/SheepTester/longer-tweets/commits/master/{{ page.path }}"
    >GitHub</a
  >.</span
>

{%- assign comments = site.data.comments[page.id] -%}
<div class="comments">
  <a
    href="https://github.com/SheepTester/longer-tweets/issues/new?template=comment.md&labels=comment&title=💬 {{ page.id }}"
    >Add a comment</a
  >
  {%- for comment in comments -%} {%- include comment.html -%} {%- endfor -%}
</div>
